.movie_list {
  list-style: none;
}
.movie_name {
  font-size: 24px;
  margin-bottom: 5px;
  border: 1px dotted gray;
  font-weight: bold;
}
.movie_openingCrawl {
  letter-spacing: 1px;
  margin-top: 13px;
}
.movie_episode {
  padding-top: 10px;
  border-bottom: 1px solid sienna;
  padding-left: 10px;
  font-weight: 700;
}
.movie_char {
  font-style: italic;
}
